/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.bg-purple {
  background-color: #6664dd;
}

.purple {
  color: #6664dd;
}

.bg-nav {
  background-color: rgb(212 211 255);
}

.bg-card {
  background-color: rgb(62 60 213 / 8%);
}

